@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "good times";
  src: url("../good-times.otf");
}

html {
  @apply h-fit min-h-[100vh];
}

body {
  font-family: "good times", sans-serif;
  @apply relative h-fit pb-24 sm:pb-16 min-h-[100vh] bg-gradient-to-b from-darkblue to-blue text-pink;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
